<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935836552885-6aq1ne4s1tqca6r2a5digrvidqh9eo5l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935836552885-6aq1ne4s1tqca6r2a5digrvidqh9eo5l</string>
	<key>API_KEY</key>
	<string>AIzaSyBvaFvsdPor85g5BEyRMUBkOOAbd3bzfrE</string>
	<key>GCM_SENDER_ID</key>
	<string>935836552885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.naung9.inventory</string>
	<key>PROJECT_ID</key>
	<string>inventory-management-5a8a0</string>
	<key>STORAGE_BUCKET</key>
	<string>inventory-management-5a8a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935836552885:ios:31954dd0efa25bb55278fc</string>
	<key>DATABASE_URL</key>
	<string>https://inventory-management-5a8a0.firebaseio.com</string>
</dict>
</plist>